@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=DM+Serif+Display:ital@0;1&family=Manrope:wght@200..800&family=Parisienne&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.dm-bold {
    font-family: "DM Serif Display", serif;
    font-weight: 600;
    font-style: normal;
}

.dm-reg {
    font-family: "DM Serif Display", serif;
    font-weight: 300;
    font-style: normal;
}

.arizonia {
    font-family: "Arizonia", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.manrope-bold{
    font-family: "Manrope";
    font-weight: 800;
}

.manrope-semibold{
    .manrope-bold{
        font-family: "Manrope";
        font-weight: 600;
    }
}

.manrope{
    font-family: "Manrope";
    font-weight: 400;
}